@using Teachersteams.Presentation.Resources

<div class="dialog-contents">
    <div class="add-group-dialog">
        <h4>@Resource.CreateGroupDialogTitle</h4>
        <div>
            <form novalidate name="addGroupForm">
                <div class="form-group" ng-class="{ 'has-error': addGroupForm.title.$touched && addGroupForm.title.$invalid,
                 'has-success': addGroupForm.title.$touched && addGroupForm.title.$valid }">
                    <div class="input-group">
                        <input type="text" name="title" ng-model="data.title" class="form-control" placeholder="@Resource.GroupTitlePlaceholderMessage" required ng-maxlength="30" />
                        <span ng-show="addGroupForm.title.$touched && addGroupForm.title.$invalid"
                              class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span ng-show="addGroupForm.title.$touched && addGroupForm.title.$valid"
                              class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
                    </div>
                    <div class="error-messages" ng-messages="addGroupForm.title.$error" ng-show="addGroupForm.title.$touched && addGroupForm.title.$invalid">
                        <p ng-message="required">@Resource.GroupTitleIsRequiredValidationMessage</p>
                        <p ng-message="maxlength">@Resource.GroupTitleIsLongValidationMessage</p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': addGroupForm.description.$touched && addGroupForm.description.$invalid,
                 'has-success': addGroupForm.description.$touched && addGroupForm.description.$valid }">
                    <textarea name="description" ng-model="data.description" class="form-control" rows="5" placeholder="@Resource.GroupDescriptionPlaceholderMessage" ng-maxlength="500"></textarea>
                    <div class="error-messages" ng-messages="addGroupForm.description.$error" ng-show="addGroupForm.description.$touched && addGroupForm.description.$invalid">
                        <p ng-message="maxlength">@Resource.GroupDescriptionIsLongValidationMessage</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="btn-default ngdialog-button" ng-click="cancel()">@Resource.CloseButtonLabel</button>
            <button type="button" class="btn-info ngdialog-button" ng-click="create()">@Resource.CreateButtonLabel</button>
        </div>
    </div>
</div>