@using Teachersteams.Presentation.Resources

<!DOCTYPE html>
<html ng-app="ttApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@Resource.SiteTitle</title>
    @Styles.Render("~/Content/css")
    <script src="https://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
</head>
<body ng-controller="ttMainController">
    <div class="body-wrapper">
        <div ng-include="'@Url.Action("NavbarTemplate", "CommonTemplates")'"></div>
        <div loader></div>
        <toast></toast>
        <div ng-if="isInitDone" class="container main-content">
            <div ui-view class="appear-animation"></div>
        </div>
        <div class="push"></div>
    <footer>
        <p>&copy; @DateTime.Now.Year - @Resource.SiteTitle</p>
    </footer>
</div>
@Scripts.Render("~/bundles/libs")
@Scripts.Render("~/bundles/scripts")
</body>
</html>

<script type="text/javascript">
    resources = {
        photoColumnName: "@Resource.TeachersGridPhotoColumnName",
        uidColumnName: "@Resource.TeachersGridUidColumnName",
        fullnameColumnName: "@Resource.TeachersGridFullNameColumnName",
        actionsColumnName: "@Resource.TeachersGridActionsColumnName",
        inviteTeacherDilaogTitle: "@Resource.InviteTeacherDilaogTitle",
        inviteStudentDilaogTitle: "@Resource.InviteStudentDilaogTitle"
    }
</script>