@using Teachersteams.Presentation.Resources

<!DOCTYPE html>
<html ng-app="ttApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@Resource.SiteTitle</title>
    @Styles.Render("~/Content/css")
    <script src="https://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
</head>
<body ng-controller="ttMainController">
    <div ng-if="isInitDone" class="body-wrapper">
        <div ng-include="'@Url.Action("NavbarTemplate", "CommonTemplates")'"></div>
        <div loader></div>
        <toast></toast>
        <div class="container main-content">
            <div ui-view class="appear-animation"></div>
        </div>
        <div class="push"></div>
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resource.SiteTitle</p>
        </footer>
    </div>
@Scripts.Render("~/bundles/libs")
@Scripts.Render("~/bundles/scripts")
</body>
</html>

<script type="text/javascript">
    resources = {
        photoColumnName: "@Resource.TeachersGridPhotoColumnName",
        uidColumnName: "@Resource.TeachersGridUidColumnName",
        fullnameColumnName: "@Resource.TeachersGridFullNameColumnName",
        actionsColumnName: "@Resource.TeachersGridActionsColumnName",
        inviteTeacherDilaogTitle: "@Resource.InviteTeacherDilaogTitle",
        inviteStudentDilaogTitle: "@Resource.InviteStudentDilaogTitle",
        allGroupFilterText: "@Resource.AllGroupsFilterText",
        ownGroupFilterText: "@Resource.OwnGroupsFilterText",
        assistantGroupFilterText: "@Resource.AssistantGroupsFilterText",
        invitationMessageForTeacher: "@Resource.InvitationMessageForTeacher",
        invitationMessageForStudent: "@Resource.InvitationMessageForStudent",
        addAssignmentDialogCloseConfirmationMessage: "@Resource.AddAssignmentDialogCloseConfirmationMessage",
        fileIsNotAttachedMessage: "@Resource.FileIsNotAttachedMessage",
        assignmentCreatedMessage: "@Resource.AssignmentCreatedMessage",
        assignmentsGridTitleColumnName: "@Resource.AssignmentsGridTitleColumnName",
        assignmentsGridExpirationColumnName: "@Resource.AssignmentsGridExpirationColumnName",
        assignmentsGridStatusColumnName: "@Resource.AssignmentsGridStatusColumnName",
        assignmentStatusEnumDraft: "@Resource.AssignmentStatusEnumDraft",
        assignmentStatusEnumActive: "@Resource.AssignmentStatusEnumActive",
        assignmentStatusEnumExpired: "@Resource.AssignmentStatusEnumExpired",
        assignmentCompletedSuccessMessage: "@Resource.AssignmentCompletedSuccessMessage",
        assignmentResultsGridPhotoColumnName: "@Resource.AssignmentResultsGridPhotoColumnName",
        assignmentResultsGridStudentColumnName: "@Resource.AssignmentResultsGridStudentColumnName",
        assignmentResultsGridFinishedColumnName: "@Resource.AssignmentResultsGridFinishedColumnName",
        assignmentResultsGridAssigneeColumnName: "@Resource.AssignmentResultsGridAssigneeColumnName",
        assignmentResultsGridGradeColumnName: "@Resource.AssignmentResultsGridGradeColumnName",
        assignmentResultsGridCheckedColumnName: "@Resource.AssignmentResultsGridCheckedColumnName",
    }
</script>