<!DOCTYPE html>
<html ng-app="ttSinglePageApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Teachersteams</title>
    @Styles.Render("~/Content/css")
    <script src="https://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
</head>
<body ng-controller="ttMainController">
    <div ng-include="'@Url.Action("NavbarTemplate", "CommonTemplates")'"></div>
    <div class="container body-content">
        <div ui-view></div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Teachersteams</p>
        </footer>
    </div>
@Scripts.Render("~/bundles/libs")
@Scripts.Render("~/bundles/scripts")
</body>
</html>